/url/cache
/.emacs.desktop
/auto-save-list
/.session
/.smex-items
/custom.el
*.elc
CVS
.svn
.*~
*.un~
.cvsignore
.*.lock
/tramp
/TODO
/anything-c-adaptive-history
/.org-id-locations
cookies
/newsticker
/ac-comphist.dat
\#*
\#*\#
.#*
/elpa
site-lisp/package/
/swank
/.mc-lists.el
/var
/.sqli_history
/frame-restore-parameters
/el-get
/eshell
/smex-items
